[submodule "hugo-dpsg"]
	path = hugo-dpsg
	url = https://github.com/pfadfinder-konstanz/hugo-dpsg
[submodule "themes/ananke"]
	path = themes/ananke
	url = https://github.com/theNewDynamic/gohugo-theme-ananke.git
